body{
    background-color: gray;
    font-family:sans-serif;

}

/* NAVEGAÇÃO */
#navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image:  linear-gradient(#242529, #3D3F45);
    
}

a{
    color: white;
    text-decoration: unset;
    border-radius: 5px;
    border: gray 2px solid;
}

#title{
    border-radius: 20px;
    border: black 2px solid;
    justify-content: center;
    display: flex; 
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    font-style: 20px solid;
    color: white;
    box-shadow: orange 5px 10px 5px;
    font-weight: bold;
} 

/* 2 IMAGENS VACINADAS */
#noticiasPrincipais{
    background-color: orange;
    padding-bottom: 1px;   
}

#imagensPrincipais{
    padding-left: 125px;
    padding-top: 50px;
    padding-bottom: 50px;   
}

/* INÍCIO DE NOTÍCIAS */
#noticiasGerais{
    background-image:linear-gradient(#242529, #3D3F45);
    justify-content: center;
    display: flex;
    margin-top: 0px;
    
}

#fonte{
    color: white;
    font-weight: bold;
}

/* QUADRO 1 DE NOTICIAS */
#noticias1{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    width: 100%;
}

.noticia{
    margin-left: 20px;
}

#imagemPrimario{
    width: 75%;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 45px;
}

#imagemSecundaria{
    padding-left: 100px;
    padding-top: 50px;
    width: 50%;
}

#imagemTerceira{
    padding-left: 100px;
    padding-top: 50px;
    width: 49%;
    padding-bottom: 0px;
}

/* QUADRO 2 DE NOTÍCIAS */
#noticias2{
    display: flex;
    justify-content: space-between;
    background-color: orange;

}

.noticia2{
    margin-left: 20px;
    
}

.imagem1{
    padding-left: 170px;
    padding-top: 50px;
    width: 50%;
    
}

/* QUADRO 3 DE VIDEO */
#videoContainer{
    background-image:linear-gradient(#242529, #3D3F45);
        
}

.fonteVideo{
    justify-content: center;
    display: flex;
    color: white;

}

#video{
    padding-left: 300px;
    width: 50%;
    padding-top: 50px;
    
}

/* BOTÃO */
.botao{
    background-color: yellow;
    border-radius: 20px; 
}

#contato{
    
}

#fonteContato{
    justify-content: center;
    display: flex;
    font-weight: bold;
    color:white;
    font-size: 40px;
    
   
}